{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block page_title %}Case Transfer Form{% endblock %}
{% block style_code %}
    <link href="{% static 'plugins/parsley/src/parsley.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}"
          rel="stylesheet">
    <style type="text/css">
    .column {
        float: left;
        width: 33.33%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock style_code %}
{% block javascript_code %}
{% endblock javascript_code %}
{% block primary %}
    <!-- begin breadcrumb -->
    {% if messages %}
        {% for message in messages %}
            {% if 'error' in message.tags %}
                <div id="messages" class="alert alert-danger fade in">
                    <span class="close" data-dismiss="alert">×</span>
                    <i class="fa fa-info fa-2x pull-left"></i>
                {% else %}
                    <div id="messages" class="alert alert-success fade in">
                        <span class="close" data-dismiss="alert">×</span>
                        <i class="fa fa-check fa-2x pull-left"></i>
                    {% endif %}
                    <p>
                        {{ message }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}
        <div id="message"
             class="alert alert-success fade in"
             style="display: none">
            <span class="close" data-dismiss="alert">×</span>
            <i class="fa fa-check fa-2x pull-left"></i>
        </div>
        <!-- end page-header -->
        <div id="messages" class="alert alert-danger fade in"  tabindex="1">
            <span class="close" data-dismiss="alert">×</span>
            <i class="fa fa-info fa-2x pull-left"></i>
            <span class="invalid-form-message" id="invalid-form-message"></span>
        </div>
        <!-- begin row -->
        <div id="case_details" class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="#"
                               class="btn btn-xs btn-icon btn-circle btn-warning"
                               data-click="panel-expand"><i class="fa fa-minus"></i></a>
                            <a href="#"
                               class="btn btn-xs btn-icon btn-circle btn-default"
                               data-click="panel-collapse"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">Case Transfer Form</h4>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <legend class="pull-left width-full">
                                Case Transfer Details
                            </legend>
                            <!-- begin row -->
                            <form action="."
                                  method="post"
                                  name="ovcreg_form"
                                  id="checkboxform"
                                  class="form-horizontal"
                                  data-toggle="validator"
                                  role="form"
                                  data-parsley-validate>
                                {% csrf_token %}
                                <div class="row form-group browsers">
                                    <div >
                                        <table class="table" border="1">
                                            <thead>
                                                <tr>
                                                    <th style="margin-top:-9!important;">#</th>
                                                    <th>Names</th>
                                                    <th>Age</th>
                                                    <th>Transfer Date</th>
                                                    <th>Reason</th>
                                                    <th>Follow Up Date</th>
                                                    <th>Comment</th>
                                                </tr>
                                            </thead>
                                            {% for hhmember in hhmembers %}
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" name="browser" value="Chrome" required/>
                                                        </td>
                                                        <td >{{ hhmember.person.first_name }} {{ hhmember.person.surname }}</td>
                                                        <td>{{ hhmember.person.years }}yrs</td>
                                                        <td >{{ case_transfer_form.TRANSFER_DATE }}</td>
                                                        <td >{{ case_transfer_form.REASON }}</td>
                                                        <td>{{ case_transfer_form.FOLLOW_UP_DATE }}</td>
                                                        <td>{{ case_transfer_form.COMMENT }}</td>
                                                    </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                        <label for="organization">Receiving Organization:</label>
                                        <div>
                                            <input id="org" onkeyup="fetchOrgUnits()" type="string">
                                            {{ getOrg }}
                                        </div>
                                        <input name = "CheckBoxToValidate" type="submit" value="Submit">
                                        <div>Search Results</div>
                                        <p>
                                            {% for organization in getOrg %}<li>{{ organization.name }}</li>{% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <h3>Check items:</h3>
                                <label><input type="checkbox" value="football" name="transfer"> Transfer 1</label>
                                <label><input type="checkbox" value="baseball" name="transfer"> Transfer 2l</label>
                                <label><input type="checkbox" value="cricket" name="transfer"> Cricket</label>
                                <label><input type="checkbox" value="boxing" name="transfer"> Boxing</label>
                                <label><input type="checkbox" value="racing" name="transfer"> Racing</label>
                                <label><input type="checkbox" value="swimming" name="transfer"> Swimming</label>
                                <hr>
                                <button type="button">Get Values</button>
                            </form>
                        </fieldset>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- end row -->
{% endblock primary %}
<!-- End content area -->
{% block lazy_javascript_code %}
    <script src="jquery.js"></script>
    <script src="parsley.min.js"></script>
    <script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
    <script src="{% static 'js/form-wizards.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("button").click(function(){
                var checkedTransfers = [];
                $.each($("input[name='transfer']:checked"), function(){            
                    favorite.push($(this).val());
                });
                alert("Selected values are: " + checkedTransfers.join(", "));
            });
        });

function fetchOrgUnits(){
    alert("!!!!!!!!!!")
    var values = {
        'name':name,

    }
    $.ajax({
        url: '{% url 'fetch_org_units' %}',
        dataType: 'json',
        method: 'GET',
        data: values,
        success: function(result)
        {
            if (result){
                window.print();

            }else{
                console.log("Error!!!")

            }
            console.log("got 2");
        },
        error: function(xhr, status, error){
            
    }
});


    </script>
{% endblock %}
